<ul class="nav nav-list">
 <li class="{% if app.request.attributes.get('_route') == 'users' %}active{% endif %}">

        <a href="{{ path('users') }}">
            <i class="icon-user"></i>
            <span class="menu-text">قائمة المشرفين </span>
        </a>

    </li>

<li class="{% if app.request.attributes.get('_route') == 'user_membre' %}active{% endif %}">

        <a href="{{ path('user_membre') }}">
            <i class="icon-user"></i>
            <span class="menu-text">قائمة الاعضاء الموقع
        </span></a>

    </li>


    <li class="{% if app.request.attributes.get('_route') == 'activite' %}active open{% endif %}{% if app.request.attributes.get('_route') == 'artistes' %}active open{% endif %}{% if app.request.attributes.get('_route') == 'structure' %}active open{% endif %}{% if app.request.attributes.get('_route') == 'pays' %}active open{% endif %}">
        <a href="{{ path('artistes') }}" class="dropdown-toggle">
            <i class="icon-cogs"></i>
            <span class="menu-text"> تكوينات الموقع</span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li class="{% if app.request.attributes.get('_route') == 'artistes' %}active {% endif %}">
                <a href="{{ path('artistes') }}">
                    <i class="icon-double-angle-right"></i>
                    قائمة الفنان
                </a>
            </li>


   <li class="{% if app.request.attributes.get('_route') == 'pays' %}active {% endif %}">
                <a href="{{ path('pays') }}">
                    <i class="icon-double-angle-right"></i>قائمة البلدان
                    </a>
   </li>



   <li class="{% if app.request.attributes.get('_route') == 'structure' %}active {% endif %}">
                <a href="{{ path('structure') }}">
                    <i class="icon-double-angle-right"></i>نوع الهيكل
                    </a>
   </li>



   <li class="{% if app.request.attributes.get('_route') == 'activite' %}active {% endif %}">
                <a href="{{ path('activite') }}">
                    <i class="icon-double-angle-right"></i>قطاع الأعمال
                    </a>
   </li>




        </ul>
    </li>




</ul><!-- /.nav-list -->